.logo{
    margin-left: auto; 
    margin-right: auto; 
}

.mobile-top-bar{
    width: 100%; 
    background-color: #4D5458;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.call-icon{
    color: white; 
    vertical-align: center;
    margin-left: 5%; 
    font-size: 1.2em;
}

.mobile-logo {
    max-width: 75%;
    /* Set the width of the image to 40% of the screen width */
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.menu-top{
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-open {
    overflow: hidden;
}

.hamburger{
    color: white; 
    vertical-align: center;
    margin-right: 5%; 
    font-size: 1.2em;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    border: 0; 
    padding: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 999;
    height: 100vh; 
    background-color: #5e7b8e;
}

.hamburger-menu.open {
    transform: translateX(0);
}

.hamburger-menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu-items a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-align: left;
    color: white; 
    font-family: 'Gruppo', sans-serif;
    font-size: 6.5vw;
    margin-left: 10px; 
    font-weight: 500;
}

.hamburger-menu-items a:hover {
    background-color: transparent;
}

.hamburger-call{
    margin-top: 10%; 
    background-color: transparent;
    border: 2px solid #9ecded; 
    border-radius: 5px;
    padding: 10px;
}

.hamburger-book{
    margin-top: 10%; 
    background-color: #9ecded;
    border-radius: 5px;
    padding: 10px;
}

.web-nav-items{
    width: 60%; 
    margin: 0 auto; 
}

.web-nav-menu-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    /* Set width to 75% of the page */
    margin: 0 auto;
    /* Center the navigation menu horizontally */
    width: 100%; 
}

.web-nav-menu-list li a{
    color: white; 
    cursor: pointer;
    font-family: 'Gruppo', sans-serif;
    font-size: 2vw; 
    text-decoration: none;
}

.web-nav-menu-list li a.active{
    color: black; 
    font-weight: bold;
}

.web-nav-menu-list li a:hover{
    color: black;
    font-weight: bold;
    transition: .5s; 
}

